{{define "title"}}
  {{ if eq .FormAction "/new" }}
  New Article -
  {{ else }}
  Edit Article -
  {{ end }}
{{end}}

{{define "main"}}
    <form class="" action="{{.FormAction}}" method="post">
      <label for="title">Title:</label>
      <input type="text" name="title" value="{{.Article.Title}}">
      <br>
      <br>
      <label for="preview">Preview:</label>
      <textarea name="preview" rows="8" cols="80">{{.Article.Preview}}</textarea>
      <br>
      <br>
      <label for="body">Body:</label>
      <textarea name="body" rows="8" cols="80">{{.Article.Body}}</textarea>
      <br>
      <br>
      <label for="slug">Slug:</label>
      <input type="text" name="slug" {{.SlugValueAttr}}>
      <br>
      <br>
      <label for="category">Category:</label>
      <select class="" name="category">
        <option value="Programming">Programming</option>
        <option value="Other">Other</option>
      </select>
      <br>
      <br>
      <input class="button" type="submit" value="Submit">
    </form>
    {{range .Errors}}
    {{.}}
    {{end}}
{{end}}
