{{define "title"}}
{{.Article.Title}}
{{end}}

{{define "main"}}{{$a := .Article}}<article class="content">
        <div class="content columns">
          <div class="column is-8 is-offset-2">
          <h1 class="title">{{$a.Title}}</h1>
          <p class="is-size-4"><span class="tag is-white">Published: {{$a.Published}}</span>
          {{if .IsEdited}}
          <span class="tag is-white"><i>Last Edited: {{$a.Edited}}</i></span>
          {{end}}
          </p>
          {{template "body"}}
          </div>
        </div>
      </article>{{end}}
