{{define "title"}}{{.Category}} Index{{end}}

{{define "main"}}
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <h1 class="title">{{.Category}} Index</h1>
          {{if ne .Category ""}}
          {{template "index-pagination" .}}
          {{ range .Articles }}
          <article class="message">
            <a href="/{{.Slug}}" style="border-bottom: 1px solid #ddd; margin-bottom: 0; text-decoration: none;">
              <div class="message-header">
                <p class="is-size-4">{{.Title}}</p>
              </div>
              <div class="message-body">
                <p>{{.Preview}}</p>
                <br>
                <p class="is-size-6 tag is-white">Published: {{.Published}}</p>
                {{if .IsEdited}}
                <br>
                <p class="is-size-6 tag is-white">Last Edited: {{.Edited}}</p>
                {{end}}
              </div>
            </a>
          </article>
          {{ end }}
          {{else}}
          <div class="columns">
            <div class="column" style="border-right: 1px solid #ddd">
              {{ range .Column1 }}
              <a href="/{{.Slug}}">
                <p class="level is-mobile">
                  <span class="is-size-6 level-left">{{.Title}}</span>
                  <span class="is-size-6 level-right">{{.Published}}</span>
                </p>
              </a>
              {{end}}
            </div>
            <div class="column" style="border-right: 1px solid #ddd">
              {{ range .Column2 }}
              <a href="/{{.Slug}}">
                <p class="level is-mobile">
                  <span class="is-size-6 level-left">{{.Title}}</span>
                  <span class="is-size-6 level-right">{{.Published}}</span>
                </p>
              </a>
              {{end}}
            </div>
          </div>
          {{end}}
        </div>
      </div>
{{end}}

{{define "index-pagination"}}{{$curPage := .PageInfo.CurrentPage}}{{$maxPage := .PageInfo.MaxPage}}
          <nav class="pagination" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
              <li>
                <a href={{if eq .Category "Other"}}"/other/page/1"{{else}}"/page/1"{{end}} class="pagination-link {{if eq $curPage 1}}is-current{{end}}" aria-label="Go to page 1">1</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              {{if and (ne $curPage 1) (ne $curPage $maxPage)}}
              <li>
                <a href={{if eq .Category "Other"}}"/other/page/{{$curPage}}"{{else}}"/page/{{$curPage}}"{{end}} class="pagination-link is-current" aria-label="Go to page {{$curPage}}">{{$curPage}}</a>
              </li>
              <li>
                <span class="pagination-ellipsis">&hellip;</span>
              </li>
              {{end}}
              <li>
                <a href={{if eq .Category "Other"}}"/other/page/{{$maxPage}}"{{else}}"/page/{{$maxPage}}"{{end}} class="pagination-link {{if eq $curPage $maxPage}}is-current{{end}}" aria-label="Go to page {{$maxPage}}">{{$maxPage}}</a>
              </li>
            </ul>
            <a {{if ne $curPage 1}}href={{if eq .Category "Other"}}"/other/page/{{.PageInfo.Prev}}"{{else}}"/page/{{.PageInfo.Prev}}"{{end}}{{else}}disabled{{end}} class="pagination-previous" >&larr;</a>
            <a {{if ne $curPage $maxPage}}href={{if eq .Category "Other"}}"/other/page/{{.PageInfo.Next}}"{{else}}"/page/{{.PageInfo.Next}}"{{end}}{{else}}disabled{{end}} class="pagination-next">&rarr;</a>
          </nav>
{{end}}
